@using Ticari_Otomasyon.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/AdminLayout.cshtml";

}



<table class="table table-bordered" style="margin-top:20px;">
    <tr>

        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <th>
                @k.Id
            </th>
            <td>

                @k.KategoriAdi
            </td>
            <td><a href="/Kategori/KategoriSil/@k.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@k.Id" class="btn  btn-warning">Güncelle</a></td>

        </tr>
    }
</table>
<br />

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{

    LiElementClasses = new List<string>
    { "page-link"}
})


<a href="/Kategori/KategoriEkle" class="btn btn-dark">Kategori Ekle</a>
