@model Ticari_Otomasyon.Models.Classes.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme</h2>
<br />

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.KategoriAdi)
        @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control" })
        @Html.HiddenFor(x => x.Id)
    </div>
    <button class="btn btn-warning">Güncelle</button>
}