@using Ticari_Otomasyon.Models.Classes
@model List<Cari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>

        
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>


    </tr>
    @foreach (var k in Model)
    {

        <tr>
           
            <td> @k.Ad</td>
            <td> @k.Soyad</td>
            <td> @k.Sehir</td>
            <td> @k.Mail</td>
           
            <td><a href="/Cari/CariSil/@k.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@k.Id" class="btn  btn-warning">Güncelle</a></td>
            <td><a href="/Cari/MusteriSatis/@k.Id"class=" btn btn-default" style= "background-color:lightseagreen">Satış Geçmişi</a></td>

        </tr>
    }
</table>
<br />
<a href="/Cari/YeniCari/" class="btn btn-dark">Cari Ekle</a>
