
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<br />
<button class="btn btn-primary" id="btn1">Buton1</button>
<button class="btn btn-warning" id="btn2">Buton2</button>
<button class="btn btn-info" id="btn3">Buton3</button>
<button class="btn btn-danger" id="btn4">Buton4</button>
<button class="btn btn-dark" id="btn5">Buton5</button>

<script>
    $('#btn1').click(function () {
        swal("Merhaba Dünya");
    });
</script>


<script>
    $('#btn2').click(function () {
        swal("Here's the title!", "...and here's the text!");
    });
</script>

<script>
    $('#btn3').click(function () {
        swal("Good job!", "You clicked the button!", "success");
    });
</script>
<script>
    $('#btn4').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    });
</script>

<script>
    $('#btn5').click(function () {
        swal("Click on either the button or outside the modal.")
            .then((value) => {
                swal(`The returned value is: ${value}`);
            });
    });
</script>

