@using Ticari_Otomasyon.Models.Classes
@model List<Personel>


@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Detayı</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman : @ViewBag.d</li>
</ol>

<table class=" table table-hover">
    <tr>

        <th>Personel Ad</th>
        <th>Personel Soyad</th>
        <th>Personel Görseli</th>

        <th>Satışlar</th>

    </tr>
    @foreach (var x in Model)
    {


        <tr>

            <td>
                @x.Ad
            </td>
            <td>
                @x.Soyad
            </td>
            <td>
                @x.PersonelGorseli
            </td>

            <td><a href="/Departman/DepartmanPersonelSatis/@x.Id" class=" btn btn-default" style=" background-color:lightseagreen">Satışlar</a></td>
        </tr>
    }

</table>