<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="Ad" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="Soyad" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="Sehir" Placeholder="Şehir" required="" />
                <input type="email" class="mail" name="Mail" Placeholder="Mail Adresiniz" required="" />
                <input type="password" class="password" name="Sifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum <a href="#">&amp; Kabul Ediyorum</a></label>
                </div>
                <input type="submit" value="Kayıt ol">
            </form>
        </div>
    </div>
</div>
