<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CariAd" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CariSoyad" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="CariSehir" Placeholder="Şehir" required="" />
                <input type="text" class="mail" name="CariMail" Placeholder="Mail Adresiniz" required="" />
                <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum <a href="#">&amp; Kabul Ediyorum</a></label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>