
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

@{

    var grafik = new Chart(width: 500, height: 500);
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Değerler");


    grafik.AddSeries(
        name: "Veriler",
        chartType: "Doughnut", /* Pie,Column,Area,bar*/
        xValue: new[] { "Beyaz Eşya", "Televizyon", "Bilgisayar", "Küçük ev aletleri" },
        yValues: new[] { "500", "250", "300", "620" }


        );
    grafik.Write();

}
