@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Düzce Üniversitesi<br />
    Bilgisayar Mühendisliği<br />
    <abbr title="Phone">P:</abbr>
    +90(545)395-17-77
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">dilara15seren@gmail.com</a><br />

</address>